In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("datasets/moviereviews.tsv",sep="\t")# don't forget the seperator

In [13]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [14]:
df['label'].unique()

array(['neg', 'pos'], dtype=object)

In [15]:
len(df)

2000

In [18]:
#print(df['review'][0])

In [19]:
#check for missing values

In [22]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [24]:
#drop these null reviews

In [26]:
df.dropna(inplace=True)

In [29]:
#recheck if reviews have been dropped

In [28]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [30]:
# then check if reviews are not blank or empty

In [41]:
blanks=[]
for index,label,review in df.itertuples():
    if(review.isspace()):
        blanks.append(index)

In [39]:
print(Blanks)

[57, 71, 147, 151, 283, 307, 313, 323, 343, 351, 427, 501, 633, 675, 815, 851, 977, 1079, 1299, 1455, 1493, 1525, 1531, 1763, 1851, 1905, 1993]

In [42]:
df.drop(blanks,inplace=True)

In [43]:
len(df)

1938

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X=df['review']
Y=df['label']

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [55]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [52]:
text_clf=Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [53]:
text_clf.fit(X_train,y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [54]:
predictions=text_clf.predict(X_test)

In [58]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [59]:
print(confusion_matrix(y_test,predictions))

[[259  49]
 [ 49 283]]

In [60]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         neg       0.84      0.84      0.84       308
         pos       0.85      0.85      0.85       332

    accuracy                           0.85       640
   macro avg       0.85      0.85      0.85       640
weighted avg       0.85      0.85      0.85       640

In [61]:
print(accuracy_score(y_test,predictions))

0.846875